body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Roboto-M';
  src: url("/font/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo-R';
  src: url('/font/Heebo-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}


/*原本頁面的設定*/
@import './assets/scss/bootstrap/bootstrap.scss';
@import './assets/scss/style/main';
@import './assets/scss/style/screen.ui';
@import './assets/scss/style/settings-advanced-slider';
@import './assets/scss/style/style';



/*我自己的設定---注意class的重複性*/

@import './assets/scss/style/mycss';

