$primary: #ffac89;
$primary_dark: #fcd20d;
$primary_hover: #cb9b0c;
$secondary: #ff7d45;
$secondary_dark: #00212d;
$tertiary: #fff8ba;
$light-grey: #f2ece8;
$mid-grey: #cfc8c4;
$dark-grey: #8e7e74;

@mixin s1440 {
  @media (max-width: 1439px) {
    @content;
  }
}
@mixin md {
  @media (max-width: 1023px) {
    @content;
  }
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

* {
  font-family: Noto Sans CJK TC;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: url("./assets/images/bg-img.png");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  .simple {
    @include md {
      display: none;
    }
  }
  .caution_small {
    display: none;
    @include md {
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .caution_text {
    margin: 10px 30px;
    padding: 30px 60px;
    background: rgba(255, 255, 255, 0.9);
    width: auto;
    max-width: 888px;
    box-shadow: 0px 4px 30px rgba(116, 48, 48, 0.4);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    .text {
      font-family: "Noto Sans TC";
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 180%;
      color: $dark-grey;
      white-space: pre-line;
      flex: none;
      order: 0;
      flex-grow: 0;
      text-align: center;
    }
  }

}

@import "./assets/css/firstPage.scss";
@import "./assets/css/setInfo.scss";
@import "./assets/css/others.scss";
